{{log this}}
<header class="webkite-results-header">
  {{>sorts this.sort}}
  {{>filters this.filters}}
</header>

{{#if items.length}}
  {{#each this.items}}
    <section class="webkite-result">
      <div class="webkite-block sixty">
        <h2>
          {{~#facet name="Winery"}}
            {{~#if filterable~}}
              <a href="#" class="webkite-add-filter winery"  data-facet="{{name}}" data-operator="is" data-value="{{displayValue}}">{{displayValue}}</a>
            {{~else~}}
              <span class="winery">{{displayValue}}</span>
            {{~/if}}
          {{~/facet}}
          
          {{#facet name="Vintage"}}<span class="vintage">{{displayValue}}</span>{{/facet}}
          
          {{#facet name="Varietal"}}<span class="varietal">
            {{#if filterable}}
              {{#each values}}
                <a href="#" class="webkite-add-filter" data-facet="{{../name}}" data-operator="is" data-value="{{this}}">{{this}}</a>
                {{#unless @last}}<br>{{/unless}}
              {{/each}}
            {{else}}
              {{#each values}}{{this}}{{#unless @last}}<br>{{/unless}}{{/each}}
            {{/if}}
          </span>{{/facet}}
        </h2>
        
        {{#facet name="Wine Name"}}<h3>{{displayValue}}</h3>{{/facet}}
        <ul>
          <li>
            <span class="facet-values providence">
              {{~#facet name="Region"~}}
                {{~#if filterable~}}
                  <a href="#" class="webkite-add-filter region" data-facet="{{name}}" data-operator="is" data-value="{{displayValue}}">{{displayValue}}</a>
                {{~else~}}
                  <span class="region">{{~displayValue}}</span>
                {{~/if~}}          
              {{~/facet}}
    
              {{~#facet name="State"}}
                {{~#if filterable~}}
                  <a href="#" class="webkite-add-filter state" data-facet="{{name}}" data-operator="is" data-value="{{displayValue}}">{{displayValue}}</a>
                {{~else~}}
                  <span class="state">{{~displayValue}}</span>
                {{~/if~}}          
              {{~/facet}}
    
              {{~#facet name="Country"}}
                {{~#if filterable~}}
                  <a href="#" class="webkite-add-filter country" data-facet="{{name}}" data-operator="is" data-value="{{displayValue}}">{{displayValue}}</a>
                {{~else~}}
                  <span class="country">{{~displayValue}}</span>
                {{~/if~}}          
              {{~/facet~}}
            </span>
          </li>
          {{#facet name="Tasting Notes"}}
            <li>
              <p>{{displayValue}}</p>
            </li>
          {{/facet}}
        </ul>
      </div><!--webkite-block-sixty-->
      <div class="webkite-block forty">
        <ul class="wine-price">
          {{#facet name="Price Per Glass"}}<li class="glass">{{displayValue}}<span class="glass-per"> / glass</span></li>{{/facet}}
          {{#facet name="Price Per Bottle"}}<li class="bottle">{{displayValue}}<span class="bottle-per">  / bottle</span></li>{{/facet}}
        </ul>
        {{#facet name="Image URL"}}<div class="image-wrapper"><img src="{{displayValue}}"/></div>{{/facet}}
      </div><!--webkite-block forty-->
      <footer class="webkite-result-footer"></footer>
    </section>
  {{/each}}
{{else}}
  <section class="webkite-no-results">
    <h2>Sorry, no results</h2>
    <p>There are no results to display based on the selected filters. Try removing a filter to see more results.</p>
    <footer class="webkite-result-footer"></footer>
  </section>
{{/if}}

<footer class="webkite-results-footer">
  <div class="webkite-branding-area"><a></a></div>
  <div class="webkite-pagination-area">{{>paginator pagination}}</div>
</footer>
